In [2]:
import matplotlib as plt
import numpy as np
import pandas as pd

In [3]:
covid_data = pd.read_csv('covid-cases.csv')

In [4]:
covid_data.head(20)

,S/N,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,25/08/2021,Kigali,Rwanda,25/08/2021,555,9,450
1,2,25/08/2022,Cape Town,South Africa,25/08/2022,2250,130,1500
2,3,25/08/2023,Nairobi,Kenya,25/08/2023,1800,100,1200
3,4,25/08/2024,Washington DC,USA,25/08/2024,5430,540,4800
4,5,25/08/2025,Berlin,Germany,25/08/2025,2000,23,1982
5,6,25/08/2026,Brussels,Belgium,25/08/2026,2100,19,2000
6,7,25/08/2027,Beijing,China,25/08/2027,12000,765,8966
7,8,25/08/2028,Addis-Ababas,Ethiopia,25/08/2028,890,65,780
8,9,25/08/2029,Rome,Italy,25/08/2029,4000,39,3976
9,10,25/08/2030,Paris,France,25/08/2030,5000,43,4605
10,11,25/08/2031,London,UK,25/08/2031,8090,98,8000
11,12,25/08/2032,Canberra,Australia,25/08/2032,4300,89,4285
12,13,25/08/2033,Toronto,Canada,25/08/2033,5600,105,5569
13,14,25/08/2034,Moscow,Russia,25/08/2034,7200,320,7100
14,15,25/08/2035,Tokyo,Japan,25/08/2035,9800,702,9700
15,16,25/08/2036,New Delhi,India,25/08/2036,11100,1200,10298
16,17,25/08/2037,Cairo,Egypt,25/08/2037,565,19,458
17,18,25/08/2038,Rabat,Morocco,25/08/2038,240,25,234
18,19,25/08/2039,El Djazair,Algeria,25/08/2039,340,56,330
19,20,25/08/2040,San Paulo,Brazil,25/08/2040,7980,230,7899